html, body {
    min-height: 100vh;
  }
  
  body {
    background-color: #afc5f2;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bg-light {
    background-color: #7d7dec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: auto;
    width: 48%;
  }
  .button_add {
    width: 100%;
  }
  .card-header {
    padding: 2%;
  }
 .taskList {
    background-color: #7d7dec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 1% auto;
    width: 48%;
 }
 .task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.taskBlock {
  background-color: #7d7dec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 1% auto;
    width: 48%;
}
.none {
  display: none !important;
}
.btn-action img {
  pointer-events: none;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.list-group-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.task-item__buttons {
  margin-left: 10px;
}